html
:indeterminate
ejdx
sjncolldsojmodssikaxnj
simple-selectors($selector: '*')
  #{$selector}:indeterminate
    background: red !important
    border: 2px solid blue !important           
    dncncxom 
    kbdldo
    jxjxjxjxj
    jxjxjxjxjxj 
    object